nav .ui.vertical.menu {
    width: 100%;
}


nav .ui.image {
    display: block;
    max-width: 150px;
}

.ui.menu.main-menu .item {
    text-transform: uppercase;
}

.ui.menu.main-menu .logo {
    text-transform: uppercase;
}