.admin-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    background: #1B1C1D;
    overflow-x: hidden;
    flex: 1;
    padding-top: 15px;
}

.admin-content {
    margin-left: 250px;
    min-width: 550px;
    padding: 15px 10px;
    height: 100%;
}