footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    padding-top: 1em;
    text-align: center;
}

footer .ui.inverted.header {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 11px;
}